@page
@model BBScoreboard.Web.Pages.Manage.RefereesModel
@{
    ViewData["Title"] = "Referees";
}

<h3>Referees</h3>

<div class="alert alert-info">
    Referee management is not implemented in this version yet.
</div>
