@using BBScoreboard
@{
    Page.Title = "Referees";
    Layout = "~/_SiteLayout.cshtml";

    PageData["SubTitle"] = "Manage";

    if (!AppHelper.CheckLogin(this, true)) { return; }
}

<div class="row">
    <div class="col-md-12">
        Nothing to see here.
    </div>
</div>